{% extends "requests/base.html" %}
<script>
  {% block jquery %}
    var endpoint = '/api/event/whenDoStudentsMark'
    var graphData = []
    var labels = []

    $.ajax({
      method: "GET",
      url: endpoint,
      data: {
        eventid: {{event.id}}
      },
      success: function(data){
        labels = data.labels
        graphData = data.attendance_data
        setChart(labels, graphData)

      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

  function setChart(labels, graphData) {
    var ctx = document.getElementById("attendancePatternsChart").getContext('2d');
    var attendancePatternsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '% Present',
                data: graphData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
  }
  {% endblock %}
</script>


{% block content %}
  <h2> Event: {{event}} </h2>

  <dl class="row">
    <dt class="col-sm-3">Students enrolled:</dt>
    <dd class="col-sm-9">{{ stats.students_enrolled }}</dd>

    <dt class="col-sm-3">Students present:</dt>
    <dd class="col-sm-9">{{ stats.students_marked_present }}</dd>

    <dt class="col-sm-3">Percentage present:</dt>
    <dd class="col-sm-9">{{ stats.students_present_percentage }}%</dd>

    <dt class="col-sm-3">Event notes:</dt>
    <dd class="col-sm-9">{{ event.notes }}</dd>
 </dl>

 <h2>Graphical Statistics: </h2>
 <dl class=row>
   <dt class="col-sm-9"><button type="button" data-toggle="modal" data-target="#studentsMarkingAttendance" class="list-group-item list-group-item-action"><b>When did students mark attendance?</b></dt>
 </dl>


 <!-- Attendance Patterns -->
 <div class="modal fade" id="studentsMarkingAttendance" tabindex="-1" role="dialog" aria-labelledby="studentsMarkingAttendanceLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">When did students mark attendance?</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <canvas id="attendancePatternsChart" width="600" height="300"></canvas>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>


{% endblock content %}
