{% extends "requests/base.html" %}

{% block content %}
  <h1> {{course.title}} </h1>

  <dl class="row">
  <dt class="col-sm-3">Course Leader</dt>
  <dd class="col-sm-9">{{ course.leader }}</dd>

  <dt class="col-sm-3">Number of Students:</dt>
  <dd class="col-sm-9">{{ course.students.count }}</dd>

  <dt class="col-sm-3">Lecture Locations: </dt>
  <dd class="col-sm-9">
    <!-- Don't show a comma after last item -->
    {% for lecture_hall in lecture_halls %}
      {% if forloop.last %}
        {{ lecture_hall }}
      {% else %}
        {{ lecture_hall }},
      {% endif %}
    {% endfor %}
  </dd>


  <dt class="col-sm-3">Lab Locations: </dt>
  <dd class="col-sm-9">
    <!-- Don't show a comma after last item -->
    {% for lab_hall in lab_halls %}
      {% if forloop.last %}
        {{ lab_hall }}
      {% else %}
        {{ lab_hall }},
      {% endif %}
    {% endfor %}
  </dd>
  </dl>

  <h2>Recent Course Events: </h2>

  <dl class=row>
    {% for event in events %}
    <dt class="col-sm-9"><a href="{% url 'viewEvent' event_id=event.id %}" class="list-group-item list-group-item-action">{{ event.date }} ({{ event.start_time }})</a></dt>
    {% endfor %}
  </dl>
{% endblock content %}
